/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* Root styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Utilities */

.container {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-r {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    width: 100%;
}


/* Tytpography */

body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, blockquote, label {
    font-family: 'Avro', serif;
    margin-bottom: 0.5rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

p, a, li, input {
    font-size: 1rem;
    margin: 1rem 0;
}

/* General Styles */

.btn {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 6px;
    text-decoration: none;
}

/* Specific styles */

#hero {
    height: 100vh;
}

.display-lg-heading {
    font-size: 2rem;
}

.heading-byline {
    font-size: 1.025rem;
}

.btn-hero {
    background-color: blueviolet;
    color: aliceblue;
}




/* Media Queries */

@media screen and (min-width: 400px) {
    #hero {
        height: 60vh;
    }

    .display-lg-heading {
        font-size: 2rem;
    }

    .heading-byline {
        font-size: 1.025rem;
    }
    
    .btn {
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 8px;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    #hero {
        height: 100vh;
    }


    .display-lg-heading {
        font-size: 3rem;
    }

    .heading-byline {
        font-size: 1.25rem;
    }
    
    .btn {
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 8px;
        text-decoration: none;
    }

    .container-r {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    #hero {
        height: 100vh;
    }

    .display-lg-heading {
        font-size: 3rem;
    }

    .heading-byline {
        font-size: 1.25rem;
    }
    
    .btn {
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 8px;
        text-decoration: none;
    }
}